{% extends 'index.html' %}
{% block content %}

<style>
    .category-add-list {
        width: 80% !important;
        margin: auto;

    }

    @media (max-width:700px) {

        .category-add-list {
            width: 100% !important;

        }
    }
</style>

<div class="category-add-list">
    <div class="content-page">
        <div class="container-fluid add-form-list">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Add Menu Item</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data" data-toggle="validator">
                                {% csrf_token %}
                                <div class="row">
                                
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Item Name *</label>
                                            <input type="text" name="name" class="form-control" placeholder="Enter Name"
                                                data-errors="Please Enter Name." required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Category *</label>
                                            <select name="category" class="selectpicker form-control" data-style="py-0" required>
                                                <option selected disabled>Select Category</option>
                                                {% for i in food_category%}
                                                <option value="{{i.id}}"><img src="{{i.image.url}}" width="50px" height="50px" alt="">{{i}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Portion *</label>
                                            <select name="potion" required class="selectpicker form-control" data-style="py-0">
                                                <option selected disabled>Select Portion Of Food</option>
                                                <option value="Quarter">Quarter</option>
                                                <option value="Half">Half</option>
                                                <option value="Full">Full</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Diet *</label>
                                            <select name="diet" required class="selectpicker form-control" data-style="py-0">
                                                <option selected disabled>Select Diet</option>
                                                <option value="Veg">Veg</option>
                                                <option value="Non-Veg">Non-Veg</option>
                                                <option value="Egg">Egg</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Price *</label>
                                            <input type="number" class="form-control" placeholder="Enter Cost"
                                                data-errors="Please Enter Price." name="price" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Stock *</label>
                                            <input type="number" name="stock"  class="form-control" placeholder="Enter Stock"
                                                required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Tax Method *</label>
                                            <select name="tax_name" class="selectpicker form-control" required data-style="py-0">
                                                <option value="Exclusive" >Exclusive</option>
                                                <option value="Inclusive" >Inclusive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Tax Value <small>(in Percentage %)</small> *</label>
                                            <select name="tax_value" required class="selectpicker form-control" data-style="py-0">
                                                <option selected disabled>--------------------------------------</option>
                                                {% for t in tax %}
                                                <option value="{{t.id}}">{{t}}</option>
                                                {% endfor%}
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Tax Method *</label>
                                            <select name="type" class="selectpicker form-control" data-style="py-0">
                                                <option>Exclusive</option>
                                                <option>Inclusive</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Image</label>
                                            <input type="file" class="form-control image-file" name="pic"
                                                accept="image/*">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description / Product Details</label>
                                            <textarea class="form-control" name="description" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">Add Menu Item</button>
                                <button type="reset" class="btn btn-danger">Reset</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page end  -->
        </div>
    </div>
</div>

{% endblock %}