{% extends 'index.html' %}
{% block content %}

<div class="content-page">
    <div class="container-fluid">
        <div class="row" id="table-container">
           {% include 'kitchendashitems.html' %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var socket = new WebSocket('ws://' + window.location.host + '/ws/updates/');

        socket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            if (data.message === "Database updated") {
                console.log("Data updated");
                // Reload table content using AJAX
                $.ajax({
                    url: "{% url 'refresh_table' %}",
                    type: "GET",
                    success: function(response) {
                        console.log("Response received:", response);
                        $('#table-container').html(response.table_html);
                    },
                    error: function(xhr, status, error) {
                        console.error("Error:", error);
                    }
                });
            }
        };

        socket.onopen = function() {
            console.log("WebSocket connection opened.");
        };

        socket.onerror = function(error) {
            console.error("WebSocket error:", error);
        };

        socket.onclose = function(event) {
            console.log("WebSocket connection closed:", event);
        };
    });

    
    $(document).ready(function () {
        function ajaxPost(url, data, onSuccess) {
            $.ajax({
                url: url,
                type: "POST",
                data: data,
                success: function (response) {
                    console.log("Response received:", response);
                    $("#table-container").html(response.order_html);
                },
                error: function (xhr, errmsg, err) {
                    console.error(xhr.status + ": " + xhr.responseText);
                }
            });
        }

        $(document).on("click", ".progre", function () {
            console.log("Progress Click Working....");
            var orderid = $(this).data("order-item-id");

            ajaxPost("{% url 'Status_Change' %}", {
                'orderid': orderid,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            });
        });

        $(document).on("click", ".ready", function () {
            console.log("Ready Click Working....");
            var orderid = $(this).data("order-item-id");

            ajaxPost("{% url 'Status_Change_Order_Ready' %}", {
                'orderid': orderid,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            });
        });

        $(document).on("click", ".finish", function () {
            console.log("Finish Click Working....");
            var menuid = $(this).data("menu-item-id");

            ajaxPost("{% url 'Status_Change_Menu_Finish' %}", {
                'orderid': menuid,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            });
        });
    });
</script>


{% endblock %}
