<!-- <div class="col-lg-8">
    <div class="row">
        <div class="col-4">
            <div class="card card-block card-stretch card-height">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4 card-total-sale">
                        
                        <div>
                            <p class="mb-2">Total Items</p>
                            <h4>31.50</h4>
                        </div>
                    </div>                                
                    
                </div>
            </div>
        </div>
        <div class=" col-4">
            <div class="card card-block card-stretch card-height">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4 card-total-sale">
                        
                        <div>
                            <p class="mb-2">Total Price</p>
                            <h4>$ 4598</h4>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-block card-stretch card-height">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4 card-total-sale">
                        
                        <div>
                            <p class="mb-2">Table</p>
                            <h4>4589 M</h4>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div> -->
<style>
    @media (max-width:640px) {
        #menuimage{
            display: none;
        }
        
    }
    .card-body::-webkit-scrollbar{
        display: none;
    }
</style>





<div class="card-header d-flex justify-content-between">
    <div class="header-title">
        <h4 class="card-title">Order {{order}}</h4>
    </div>
    <div class="card-header-toolbar d-flex align-items-center">
        {% if order.take_order == True %}
        <h6 class="badge bg-warning">Order In Kitchen</h6>
        {% endif %}
        &nbsp;&nbsp;&nbsp; User:{{order.user}} 
    </div>
</div>
<div class="card-body" style="overflow-y: scroll;">
    <div class="d-flex flex-wrap align-items-center mt-2">
        <table class="table table-striped">
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            {% for i in item %}
            <tr>
                <td>
                    <img src="{{i.menu_item.image.url}}" id="menuimage" style="width:60px;height: 60px;" alt="">
                    {{i.menu_item.name}}
                </td>
                <td>
                   DHS {{i.menu_item.price}}
                </td>
                <td>
                    <a href="javascript:void(0);" class="btn btn-primary btn-decrease" data-item-id="{{i.id}}">-</a>
                    <input type="text" style="width:30px;border:none" value="{{i.quantity}}" readonly>
                    <a href="javascript:void(0);" class="btn btn-primary btn-increase" data-item-id="{{i.id}}">+</a>
                </td>
                <td>
                    {{i.get_total_price}}
                    <button class="badge bg-warning mr-2" data-toggle="modal"
                                                data-target="#deletemodel" data-original-title="Delete" href="#"><i
                                                    class="ri-delete-bin-line mr-0"></i></button>
                                            <!-- Delete Modal -->
                                            <div class="modal fade" id="deletemodel" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
    
                                                        <div class="modal-body">
                                                            Are You Sure Do you Want to delete ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">No</button>
                                                            <a href="{%url 'Delete_menuitem' i.id %}"
                                                                class="btn btn-danger">Yes</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="3" class="text-center">Total</th>
                <th class="h4">{{total_price}}</th>
            </tr>
        </table>
    </div>
</div>
<div class="d-flex flex-wrap justify-content-end align-items-center mb-3 p-3">
    <div class="buttons p-3"><a href="javascript:void(0);" onclick="printReceipt('{{ order.id }}')" class="btn btn-info">Print Bill</a></div>
    <div class="buttons p-3"><a href="{%url 'TakeOrder' order.id  %}" class="btn btn-warning">Place Order</a></div>
    <div class="buttons p-3"><a href="" class="btn btn-success">Settle Bill</a></div>
</div>

<script>
    function printReceipt(orderId) {
        var printWindow = window.open('/Products/receipt/' + orderId, '_blank');
        printWindow.onload = function() {
            printWindow.print();
        };
    }
</script>
