{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="content-page">
    <div class="container-fluid" id="order-list">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-transparent card-block card-stretch card-height border-none">
                    <div class="card-body p-0 mt-lg-2 mt-0">
                        <h3 class="mb-3">CoffyByte-POS</h3>
                        {% for message in messages %}
                        <div class="alert {{message.tags}} " role="alert">
                            <div class="iq-alert-text"><b>Alert</b> {{message}}</div>
                        </div>
                        {% endfor %}
                        <a href="#" class="btn btn-info border add-btn shadow-none mx-2  d-md-block mt-2"
                            data-toggle="modal" data-target="#new-order"><i class="las la-plus mr-2"></i>New
                            Order</a>

                        <a href="{%url 'ViewCheckouts' %}"
                            class="btn btn-dark border add-btn shadow-none mx-2  d-md-block mt-2"><svg class="svg-icon"
                                id="p-dash7" width="17" height="17" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>&nbsp;&nbsp;Settled Orders</a>

                        <!-- model for order -->
                        <div class="modal fade" id="new-order" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="popup text-left">
                                            <h4 class="mb-3">New Order</h4>
                                            <div class="content create-workform bg-body">
                                                <form action="{%url 'CreateOrder' %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="pb-3">
                                                        <label class="mb-2">Select Table: </label>
                                                        <select name="table" id="" required class="form-control">
                                                            <option value="" selected disabled>-------</option>
                                                            {% for t in table %}
                                                            <option value="{{t.id}}">{{t}}</option>
                                                            {% endfor %}
                                                        </select>

                                                    </div>
                                                    <div class="col-lg-12 mt-4">
                                                        <div
                                                            class="d-flex flex-wrap align-items-ceter justify-content-center">
                                                            <div class="btn btn-primary mr-4" data-dismiss="modal">
                                                                Cancel</div>
                                                            <button type="submit"
                                                                class="btn btn-outline-primary">Create</button>
                                                        </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <p class="mb-0 mr-4">Your dashboard gives you views of key performance or business process.</p> -->
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-4">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-4 card-total-sale">

                                <div>
                                    <p class="mb-2">Orders</p>
                                    <h4>30</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class=" col-4">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-4 card-total-sale">

                                <div>
                                    <p class="mb-2">Prepering</p>
                                    <h4>20</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-4 card-total-sale">

                                <div>
                                    <p class="mb-2">Pending</p>
                                    <h4>10</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card card-transparent card-block card-stretch mb-4">
                <div class="card-header d-flex align-items-center justify-content-between p-0">
                    <div class="header-title">
                        <h4 class="card-title mb-0">Orders</h4>
                    </div>

                </div>
            </div>
        </div>
        
        
        {% include 'order-datas.html' %}
   


        



    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        var socket = new WebSocket('ws://' + window.location.host + '/ws/updates/');

        socket.onmessage = function (event) {
            var data = JSON.parse(event.data);
            if (data.message === "Database updated") {
                console.log("Data updated");
                // Reload table content using AJAX
                $.ajax({
                    url: "{% url 'refresh_order' %}",
                    type: "GET",
                    success: function (response) {
                        console.log("Response received:", response);
                        $('#order-list').html(response.table_html);
                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                    }
                });
            }
        };

        socket.onopen = function () {
            console.log("WebSocket connection opened.");
        };

        socket.onerror = function (error) {
            console.error("WebSocket error:", error);
        };

        socket.onclose = function (event) {
            console.log("WebSocket connection closed:", event);
        };
    });

</script>
<script>
    function printReceipt(orderId) {
        var printWindow = window.open('/Products/receipt/' + orderId, '_blank');
        printWindow.onload = function () {
            printWindow.print();
        };
    }
</script>

{% endblock %}